body {
    background-color: $dark;
}

.blogHeader {
    background-color: pink;
}


.blogContainer {
    display: flex;
    flex-wrap: wrap;
}

.aboutAside {
    width: 30%;
    p {
        font-size: 20px;
    }
}

.blogWrapper {
    width: 70%;

}

.aboutAside img {
    width: 400px;
    height: auto;
    box-shadow: 10px 30px $spruce;
}

.blog img {
    width: 600px;
    height: auto;
    margin-left: 300px;
}