body {
    background-color: $dark;
}

.blogHeaderBackground {
    background-image: url(../assets/blog-header.jpg);
    background-size: cover;
    height: 500px;
    width: 100%;

}

.blogWrapper {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.left {
    width: 30%;
    position: relative;
    ul {
        list-style-type: disc;
        flex-direction: column;
        list-style-position: inside;
    }
    a {
        text-transform: none;
        font-size: 16px;
        font-family: "lato", sans-serif;
    }
}

.asideImg {
    position: relative;
    img {
        width: 400px;
        box-shadow: 20px 20px $spruce;
        position: absolute;
        top: 40px;
        left: 0;
    }
}

.asideText{
    width: 95%;
    font-size: 16px;
    background-color: $spruce;
    padding: 10px;
    position: absolute;
    top: 397px;
    h4 {
        font-size: 20px;
    }
    p {
        font-size: 16px;
    }
}

.blog {
    width: 70%;
}

.blogContent {
    width: 70%;
    position: relative;
    margin: 70px;
}

.blogH2 {
    position: absolute;
    top: -560px;
    left: 0;
    img{
        width: 600px;
        height: auto;
    }
}

.blogText {
    width: 100%;
    border-left: 5px solid $blue;
    border-bottom: 5px solid $blue;
    padding: 30px;
}
.commentContainer {
    margin: 20px;
    padding: 10px;
    width: 80%;
}

.commentOneContainer {
    display: flex;
}

.commentOneText {
    padding: 20px;
    margin: 0;
}

.commentTwoContainer {
    display: flex;
}

.commentTwoText {
    padding: 20px;
    margin: 0;
}

.commentForm {
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 100%;
    padding: 40px;
    
    label {
        font-family: "Lato", sans-serif;
        font-size: 20px;
    }

    input {
        background-color: $dark;
        color: $text;
        border: none;
        border-bottom: 1px solid $blue;
        width: 48%;
        padding: 10px 20px;
    }

    textarea {
        background-color: $dark;
        color: $text;
        border: 1px solid $blue;
        width: 100%;
        height: 150px;
        padding: 20px;
        margin: 30px 0;
        resize: none;
    }

    button {
        background-color: $spruce;
        color: $text;
        border: none;
        padding: 5px;
        &:hover,
        &:focus {
            background-color: $hoverSpruce;
        }
    }
}