.contactPageBackground {
    background-image: url(../assets/contact-header.jpg);
    background-size: cover;
    height: 600px;
    width: 100%;
}


.sendEmail {
    background-color: $spruce;
    height: 500px;
    box-shadow: -30px 30px $blue;
    label {
        font-family: "Lato", sans-serif;
        font-size: 20px;
    }

    input {
        background-color: $spruce;
        border: none;
        border-bottom: 1px solid $blue;
    }

    button {
        background-color: $dark;
        color: $text;
        width: 60%;
        padding: 10px;
        border: none;
    }
}

a {
    color: white;
}

.divide {
    display: flex;
    flex-wrap: wrap;
}

aside {
    width: 30%;
}

.socialLinks {
    color: $text;
}

.contact {
    position: relative;
    width: 60%;
}

.getInTouch {
    position: absolute;
    top: -400px;
    left: 100px;
}