header {
    background-image: url(../assets/header-image.jpg);
    background-size: cover;
    height: 600px;
    background-color: $dark;

}

h1 {
    font-size: 138px;
    line-height: 126px;
    text-transform: uppercase;
    width: 50%;

}