.aboutSection {
    background-color: $dark;
}

.additions {
    background-color: $spruce;
}

.nemo {
    background-color: $spruce;
}

.moreInfo {
    background-color: $dark;
}

.whaleShark {
    background-image: url(../assets/banner.jpg);
    height: 400px;
    background-size: cover;
}

.profile {
    background-color: $dark;
}

.gallery {
    background-color: $spruce;
}