@media (max-width: 850px) {
    .wrapper {
        width: 95%;
    }

    h2,
    h3,
    h4 {
        text-align: center;
        margin: 15px;
    }

    .aboutSection {
        display: flex;
        p {
            text-align: center;
        }
    }

    .headerFish {
        img {
            width: 50%;
            height: auto;
            position: absolute;
            right: 0;
        }
    }

    .fishImgContainer {
        img {
        width: 40%;
        box-shadow: 10px 10px $blue;
        }
    }

    .newAdditionsText{
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-top: 10px;
        a {
            text-align: center;
        }
    }

    .nemo {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 0px;
        margin: 0px;
    }

    .nemoContainer {
        img {
        width: 40%;
        box-shadow: 10px 10px $blue;
        }
    }

    .fishProfile {
        img {
            width: 40%;
            height: auto;
            box-shadow: 10px 10px $blue;
        }
        .fishProfileText {
            text-align: center;
        }
    }

    .gallery {
        height: 300px;
        ul {
            padding: 10px;
        }
    }

    .asideImg {
        position: relative;
        img {
            width: 300px;
            height: auto;
        }
    }

    .asideText {
        display: block;
    }

    .blogH2 {
        position: absolute;
        right: 0;
        top: - 250px;
        img {
            width: 400px;
            height: auto;
        }
    }

    .blogText {
        width: 100%;
        p{
            font-size: 20px;
        }
    }

    .divide {
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
        justify-content: center;
    }

    .aside {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .getInTouch {
        position: none;
        width: 100%;
        margin-top: 30px;
    }

    .sendEmail {
        box-shadow: -10px 10px $blue;
        width: 600px;
        margin: 0 auto;
    }

    .socialContainer {
        margin-top: 0px;
        display: flex;
        width: 100%;
        h3 {
            text-align: left;
        }
        p {
            font-size: 20px;
        }
    }

    .socialLinks {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }

}

@media (max-width: 400px) {
    .wrapper {
        width: 100%;
    }

    nav {
        ul {
            display: block;
            font-size: 28px;
            background-color: $dark;
        }
    }

    h1 {
        font-size: 100px;
        line-height: 100px;
        width: 100%;
        text-align: center;
    }

    .headerBackground {
        height: 500px;
        background-size: cover;
    }

    .headerFish {
        img {
            display: none;
        }
    }

    .aboutSection {
        display: flex;
        flex-direction: column;
        a {
            width: 30%;
            align-items: center;
            text-align: center;
        }
    }

    .fishImgContainer {
        img {
            display: none;
        }
    }

    .nemoContainer {
        img {
            display: none;
        }
    }

    .additions {
        .newAdditionsText{
            display: block;
            width: 100%;
            padding: 10px;
        }
        .nemo {
            display: block;
            width: 100%;
            padding: 10px;
        }
    }

    .moreInfo {
        .wrapper {
            width: 95%;
            display: grid;
            grid-template-rows: 25% 25% 25% 25%;
            grid-template-columns: 100%;
            margin-bottom: 10px;
            h4 {
                font-size: 28px;
                text-align: left;
            }
            i {
                font-size: 18px;
            }
            p {
                font-size: 16px;
                text-align: left;
            }
        }
        
    }

    .whaleShark {
            height: 200px;
            background-size: cover;
    }

    .fishProfile {
        img {
            display: none;
        }
        .fishProfileText {
            display: block;
            width: 100%;
        }
    }

    .gallery {
        height: 500px;
        ul {
            display: flex;
            flex-direction: column;
            width: 100%;
        }
    }

    .blogHeaderBackground {
        height: 400px;
        background-size: cover;
    }

    .blogH2 {
        img {
            display: none;
        }
        h2 {
            display: flex;
            text-align: center;
            justify-content: center;
            align-items: center;
        }
    }

    .blogWrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        margin: 0 auto;
    }

    .blogContent {
        display: block;
        text-align: center;
        width: 80%;
        padding-top: 300px;
        margin: 45px;

    }

    .left {
        width: 100%;
        margin: 0;
    }

    .blog {
        width: 100%;
        margin: 0;
        top: 0;
    }

    .blogText {
        width: 100%;
        border: none;
        margin: 0;
        h3 {
            font-size: 28px;
            text-align: center;
        }
        p {
            font-size: 16px;
            text-align: center;
        }
    }

    .commentContainer {
        width: 95%;

    }

    .commentOneText {
        p {
            font-size: 16px;
        }
    }

    .commentTwoText {
        p {
            font-size: 16px;
        }
    }

    .asideImg {
        img {
            display: none;
        }
    }

    .asideText {
        width: 100%;
        display: block;
        top: 0;
        text-align: center;
    }

    .commentForm {
        input {
            display: flex;
            flex-direction: column;
            font-size: 16px;
            width: 100%;
            padding: 20px;
        }
        textarea {
            font-size: 16px;
        }

    }

    .divide {
        width: 100%;
        margin: 0 auto;
    }

    .aside {
        display: flex;
        width: 100%;
        margin: 0 auto;
    }

    .contactPageBackground {
        height: 400px;
        background-size: cover;
    }

    .getInTouch {
        position: absolute;
        top: 10px;
        left: 0;
        h2 {
            font-size: 48px;
            line-height: 48px;
            width: 100%;
            text-align: center;
            margin: 10px 80px;
            padding-bottom: 20px;
        }
    }

    .sendEmail {
        display: flex;
        justify-content: center;
        width: 400px;
        box-shadow: none;
        input {
            display: flex;
            flex-direction: column;
            width: 100%;
        }
        textarea {
            width: 100%;
        }
    }

    .socialContainer {
        display: block;
        font-size: 16px;
        text-align: center;
        margin: 200px 100px;
        width: 200px;
        padding-bottom: 0px;
        h3 {
            text-align: center;
        }

    }

}