html {
    font-size: 125%;
}

body {
    font-size: 1rem;
    color: $text;
}

h1,
h2,
h3,
h4,
nav,
button {
    font-family: "Barlow", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}

h2 {
    font-size: 80px;
    line-height: 92px;
}

h3 {
    font-size: 42px;
    letter-spacing: 1px;
}

h4 {
    font-size: 32px;
    letter-spacing: 1px;
}

p {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
}

a {
    font-family: "Barlow", sans-serif;
    font-size: 20px;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 32px;
    letter-spacing: 1px;
}

button {
    font-family: "Barlow", sans-serif;
    font-size: 20px;
    text-align: center;
    line-height: 32px;
    letter-spacing: 1px;
}