//Colour palette
// Robin egg blue: #86E0F9
// Spruce: #0F614E
// White: #fff
// Dark blue grey: #0C1423

//font-family: 'Barlow', sans-serif;
//font-family: 'Lato', sans-serif;

$baseFontSize: 1rem;

$headerFont: "Barlow";
$bodyFont: "Lato";

$dark: #0C1423;
$spruce: #0F614E;
$blue: #86E0F9;
$text: #fff;