html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 125%;
}

body {
  font-size: 1rem;
  color: #fff;
}

h1,
h2,
h3,
h4,
nav,
button {
  font-family: "Barlow", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

h2 {
  font-size: 80px;
  line-height: 92px;
}

h3 {
  font-size: 42px;
  letter-spacing: 1px;
}

h4 {
  font-size: 32px;
  letter-spacing: 1px;
}

p {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
}

a {
  font-family: "Barlow", sans-serif;
  font-size: 20px;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 32px;
  letter-spacing: 1px;
}

button {
  font-family: "Barlow", sans-serif;
  font-size: 20px;
  text-align: center;
  line-height: 32px;
  letter-spacing: 1px;
}

.wrapper {
  max-width: 1200px;
  width: 80%;
  margin: 0 auto;
}

h1 {
  font-size: 138px;
  line-height: 126px;
  text-transform: uppercase;
  width: 40%;
}

nav {
  font-size: 20px;
  text-align: center;
  line-height: 29px;
  letter-spacing: 1px;
  color: #fff;
}

ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 0;
  padding: 0;
}

ul a {
  text-decoration: none;
  color: #fff;
  padding: 20px;
  text-transform: uppercase;
}
ul a:hover, ul a:focus {
  color: #86E0F9;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.headerBackground {
  background-image: url(../assets/header-image.jpg);
  background-size: cover;
  height: 700px;
  width: 100%;
}

h1 {
  font-size: 138px;
  line-height: 126px;
  text-transform: uppercase;
  width: 40%;
}

.headerFish {
  position: relative;
}
.headerFish img {
  position: absolute;
  top: -450px;
  right: 0px;
  width: 750px;
  height: auto;
}

.aboutSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #0C1423;
  height: 600px;
  margin-top: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.aboutSection h3 {
  text-align: center;
}
.aboutSection a {
  display: inline-block;
  background-color: #86E0F9;
  color: #0C1423;
  width: 22%;
  padding: 10px;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 40%;
  margin-top: 10px;
}
.aboutSection a:hover, .aboutSection a:focus {
  background-color: #beedfa;
}

.additions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  background-color: #0F614E;
  height: 750px;
  margin-top: 0;
}
.additions a {
  display: inline-block;
  background-color: #0C1423;
  color: #fff;
  margin-top: 10px;
  padding: 10px 15px;
}
.additions a:hover, .additions a:focus {
  background-color: #1a2a47;
}

.newAdditionsText {
  width: 50%;
  margin-left: auto;
}

.fishImgContainer img {
  position: absolute;
  top: -40px;
  width: 500px;
  height: auto;
  -webkit-box-shadow: 25px 25px #86E0F9;
          box-shadow: 25px 25px #86E0F9;
}

.nemo {
  background-color: #0F614E;
  width: 50%;
  text-align: right;
  padding-top: 50px;
}

.nemoContainer img {
  position: absolute;
  width: 500px;
  height: auto;
  -webkit-box-shadow: #86E0F9;
          box-shadow: #86E0F9;
  top: 450px;
  right: 0px;
  -webkit-box-shadow: -25px 25px #86E0F9;
          box-shadow: -25px 25px #86E0F9;
}

.moreInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #0C1423;
  height: 750px;
}
.moreInfo i {
  background-color: #86E0F9;
  color: #0C1423;
  border-radius: 100%;
  padding: 15px;
  text-align: center;
  font-size: 32px;
  letter-spacing: 1px;
}
.moreInfo .wrapper {
  display: grid;
  grid-template-columns: 45% 45%;
  grid-template-rows: 350px 300px;
  row-gap: 0px;
  -webkit-column-gap: 10%;
     -moz-column-gap: 10%;
          column-gap: 10%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
}
.moreInfo p {
  margin-left: 60px;
}

.whaleShark {
  background-image: url(../assets/banner.jpg);
  height: 500px;
  background-size: cover;
}

.profile {
  background-color: #0C1423;
  height: 500px;
}

.fishProfile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.fishProfile img {
  margin-top: 50px;
  -webkit-box-shadow: 30px 30px #86E0F9;
          box-shadow: 30px 30px #86E0F9;
}
.fishProfile .fishProfileText {
  width: 60%;
  text-align: left;
  padding: 20px;
  margin-top: 30px;
}
.fishProfile .fishProfileText a {
  background-color: #86E0F9;
  color: #0C1423;
  padding: 10px;
}
.fishProfile .fishProfileText a:hover, .fishProfile .fishProfileText a:focus {
  background-color: #beedfa;
}

.gallery {
  background-color: #0F614E;
  height: 400px;
}

body {
  background-color: #0C1423;
}

.blogHeaderBackground {
  background-image: url(../assets/blog-header.jpg);
  background-size: cover;
  height: 500px;
  width: 100%;
}

.blogWrapper {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.left {
  width: 30%;
  position: relative;
}
.left ul {
  list-style-type: disc;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style-position: inside;
}
.left a {
  text-transform: none;
  font-size: 16px;
  font-family: "lato", sans-serif;
}

.asideImg {
  position: relative;
}
.asideImg img {
  width: 400px;
  -webkit-box-shadow: 20px 20px #0F614E;
          box-shadow: 20px 20px #0F614E;
  position: absolute;
  top: 40px;
  left: 0;
}

.asideText {
  width: 95%;
  font-size: 16px;
  background-color: #0F614E;
  padding: 10px;
  position: absolute;
  top: 397px;
}
.asideText h4 {
  font-size: 20px;
}
.asideText p {
  font-size: 16px;
}

.blog {
  width: 70%;
}

.blogContent {
  width: 70%;
  position: relative;
  margin: 70px;
}

.blogH2 {
  position: absolute;
  top: -560px;
  left: 0;
}
.blogH2 img {
  width: 600px;
  height: auto;
}

.blogText {
  width: 100%;
  border-left: 5px solid #86E0F9;
  border-bottom: 5px solid #86E0F9;
  padding: 30px;
}

.commentContainer {
  margin: 20px;
  padding: 10px;
  width: 80%;
}

.commentOneContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.commentOneText {
  padding: 20px;
  margin: 0;
}

.commentTwoContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.commentTwoText {
  padding: 20px;
  margin: 0;
}

.commentForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 500px;
  width: 100%;
  padding: 40px;
}
.commentForm label {
  font-family: "Lato", sans-serif;
  font-size: 20px;
}
.commentForm input {
  background-color: #0C1423;
  color: #fff;
  border: none;
  border-bottom: 1px solid #86E0F9;
  width: 48%;
  padding: 10px 20px;
}
.commentForm textarea {
  background-color: #0C1423;
  color: #fff;
  border: 1px solid #86E0F9;
  width: 100%;
  height: 150px;
  padding: 20px;
  margin: 30px 0;
  resize: none;
}
.commentForm button {
  background-color: #0F614E;
  color: #fff;
  border: none;
  padding: 5px;
  cursor: pointer;
}
.commentForm button:hover, .commentForm button:focus {
  background-color: #137c64;
}

.contactPageBackground {
  background-image: url(../assets/contact-header.jpg);
  background-size: cover;
  height: 600px;
  width: 100%;
}

.sendEmail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #0F614E;
  height: 500px;
  width: 800px;
  -webkit-box-shadow: -30px 30px #86E0F9;
          box-shadow: -30px 30px #86E0F9;
  padding: 50px;
}
.sendEmail label {
  font-family: "Lato", sans-serif;
  font-size: 20px;
}
.sendEmail input {
  background-color: #0F614E;
  color: #fff;
  border: none;
  border-bottom: 1px solid #86E0F9;
  width: 48%;
  padding: 10px 20px;
}
.sendEmail textarea {
  background-color: #0F614E;
  color: #fff;
  border: 1px solid #86E0F9;
  width: 100%;
  height: 250px;
  padding: 20px;
  margin: 30px 0;
  resize: none;
}
.sendEmail button {
  background-color: #0C1423;
  color: #fff;
  width: 100%;
  padding: 10px;
  border: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}
.sendEmail button:hover, .sendEmail button:focus {
  background-color: #1a2a47;
}

a {
  color: white;
}

.divide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

aside {
  width: 30%;
}

.contact {
  position: relative;
  width: 60%;
  height: 500px;
}

.getInTouch {
  position: absolute;
  top: -400px;
  left: 100px;
}

.socialContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 100px;
  margin-left: 60px;
}
.socialContainer h3 {
  margin: 0;
}
.socialContainer p {
  margin: 0px;
  font-size: 16px;
}

.socialLinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 60%;
  color: #fff;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 850px) {
  .wrapper {
    width: 95%;
  }

  h2,
h3,
h4 {
    text-align: center;
    margin: 15px;
  }

  .aboutSection {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .aboutSection p {
    text-align: center;
  }

  .headerFish img {
    width: 50%;
    height: auto;
    position: absolute;
    right: 0;
  }

  .fishImgContainer img {
    width: 40%;
    -webkit-box-shadow: 10px 10px #86E0F9;
            box-shadow: 10px 10px #86E0F9;
  }

  .newAdditionsText {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    margin-top: 10px;
  }
  .newAdditionsText a {
    text-align: center;
  }

  .nemo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    padding: 0px;
    margin: 0px;
  }

  .nemoContainer img {
    width: 40%;
    -webkit-box-shadow: 10px 10px #86E0F9;
            box-shadow: 10px 10px #86E0F9;
  }

  .fishProfile img {
    width: 40%;
    height: auto;
    -webkit-box-shadow: 10px 10px #86E0F9;
            box-shadow: 10px 10px #86E0F9;
  }
  .fishProfile .fishProfileText {
    text-align: center;
  }

  .gallery {
    height: 300px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .gallery ul {
    padding: 10px;
  }

  .asideImg {
    position: relative;
  }
  .asideImg img {
    width: 300px;
    height: auto;
  }

  .asideText {
    display: block;
  }

  .blogH2 {
    position: absolute;
    right: 0;
    top: -250px;
  }
  .blogH2 img {
    width: 400px;
    height: auto;
  }

  .blogText {
    width: 100%;
  }
  .blogText p {
    font-size: 20px;
  }

  .divide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .aside {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .getInTouch {
    position: none;
    width: 100%;
    margin-top: 30px;
  }

  .sendEmail {
    -webkit-box-shadow: -10px 10px #86E0F9;
            box-shadow: -10px 10px #86E0F9;
    width: 600px;
    margin: 0 auto;
  }

  .socialContainer {
    margin-top: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
  }
  .socialContainer h3 {
    text-align: left;
  }
  .socialContainer p {
    font-size: 20px;
  }

  .socialLinks {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media (max-width: 400px) {
  .wrapper {
    width: 100%;
  }

  nav ul {
    display: block;
    font-size: 28px;
    background-color: #0C1423;
  }

  h1 {
    font-size: 100px;
    line-height: 100px;
    width: 100%;
    text-align: center;
  }

  .headerBackground {
    height: 500px;
    background-size: cover;
  }

  .headerFish img {
    display: none;
  }

  .aboutSection {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .aboutSection a {
    width: 30%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }

  .fishImgContainer img {
    display: none;
  }

  .nemoContainer img {
    display: none;
  }

  .additions .newAdditionsText {
    display: block;
    width: 100%;
    padding: 10px;
  }
  .additions .nemo {
    display: block;
    width: 100%;
    padding: 10px;
  }

  .moreInfo .wrapper {
    width: 95%;
    display: grid;
    grid-template-rows: 25% 25% 25% 25%;
    grid-template-columns: 100%;
    margin-bottom: 10px;
  }
  .moreInfo .wrapper h4 {
    font-size: 28px;
    text-align: left;
  }
  .moreInfo .wrapper i {
    font-size: 18px;
  }
  .moreInfo .wrapper p {
    font-size: 16px;
    text-align: left;
  }

  .whaleShark {
    height: 200px;
    background-size: cover;
  }

  .fishProfile img {
    display: none;
  }
  .fishProfile .fishProfileText {
    display: block;
    width: 100%;
  }

  .gallery {
    height: 500px;
  }
  .gallery ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }

  .blogHeaderBackground {
    height: 400px;
    background-size: cover;
  }

  .blogH2 img {
    display: none;
  }
  .blogH2 h2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .blogWrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    margin: 0 auto;
  }

  .blogContent {
    display: block;
    text-align: center;
    width: 80%;
    padding-top: 300px;
    margin: 45px;
  }

  .left {
    width: 100%;
    margin: 0;
  }

  .blog {
    width: 100%;
    margin: 0;
    top: 0;
  }

  .blogText {
    width: 100%;
    border: none;
    margin: 0;
  }
  .blogText h3 {
    font-size: 28px;
    text-align: center;
  }
  .blogText p {
    font-size: 16px;
    text-align: center;
  }

  .commentContainer {
    width: 95%;
  }

  .commentOneText p {
    font-size: 16px;
  }

  .commentTwoText p {
    font-size: 16px;
  }

  .asideImg img {
    display: none;
  }

  .asideText {
    width: 100%;
    display: block;
    top: 0;
    text-align: center;
  }

  .commentForm input {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 16px;
    width: 100%;
    padding: 20px;
  }
  .commentForm textarea {
    font-size: 16px;
  }

  .divide {
    width: 100%;
    margin: 0 auto;
  }

  .aside {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin: 0 auto;
  }

  .contactPageBackground {
    height: 400px;
    background-size: cover;
  }

  .getInTouch {
    position: absolute;
    top: 10px;
    left: 0;
  }
  .getInTouch h2 {
    font-size: 48px;
    line-height: 48px;
    width: 100%;
    text-align: center;
    margin: 10px 80px;
    padding-bottom: 20px;
  }

  .sendEmail {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 400px;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .sendEmail input {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .sendEmail textarea {
    width: 100%;
  }

  .socialContainer {
    display: block;
    font-size: 16px;
    text-align: center;
    margin: 200px 100px;
    width: 200px;
    padding-bottom: 0px;
  }
  .socialContainer h3 {
    text-align: center;
  }
}
footer {
  background-color: #86E0F9;
  color: #0C1423;
  text-align: center;
  margin-bottom: auto;
  margin-top: auto;
}

.carousel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  width: 100%;
  height: 400px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.carousel button {
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 100%;
  background-color: #0C1423;
  color: #fff;
  cursor: pointer;
  text-align: center;
}
.carousel button:hover, .carousel button:focus {
  background-color: #1a2a47;
}

.previousImage {
  position: absolute;
  top: 50%;
  left: 10%;
}

.nextImage {
  position: absolute;
  top: 50%;
  right: 10%;
}

.carouselImage {
  position: absolute;
  opacity: 0;
}

.photos {
  opacity: 1;
  -webkit-transition: opacity 0.3s ease-in;
  transition: opacity 0.3s ease-in;
  height: 400px;
  width: auto;
  padding: 10px;
}